* {
    margin: 0;
    color: var(--dark);
    font-family: var(--main-font);
}

body {
    background-color: var(--light);
}

.btn-container {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    margin: 15px 0;
}

.btn {
    padding: 10px 20px;
    border-radius: 9999px;
    border: none;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 0.9rem;
    transition: box-shadow 1s ease;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.btn-option {
    background-color: var(--gold);
}

.btn-confirm {
    background-color: var(--teal);
}