.logo {
    text-decoration: none;
    text-align: center;
    position: relative;
    z-index: 20;
}

.logo > h1 {
    font-family: var(--fancy-font);
    font-size: 3rem;
    margin: 20px auto;
}

form {
    background-color: white;
    margin: auto;
    width: 800px;
    display: flex;
    border-radius: 9999px;
    border: 1px solid lightgray;
    transition: box-shadow 1.5s ease;
}

form:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

form input {
    flex: 1;
    border: none;
    background-color: transparent;
    border-radius: 9999px;
    padding: 0 20px;
}

form input:focus {
    outline: none;
}

form button {
    background-color: var(--pink);
    color: var(--light);
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    aspect-ratio: 1 / 1;
}

form button > img {
    height: 20px;
    padding: 5px;
}

.starts-with {
    margin: 20px auto;
}

.starts-with button {
    color: var(--dark);
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1rem;
    padding: 5px 10px;
}

.starts-with button:hover {
    text-decoration: underline;
}

.starts-with ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.top-bar {
    position: sticky;
    top: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: var(--light);
    margin-top: -35px;
    z-index: 10;
}

.filter-active {
    font-weight: 700;
}

@media screen and (max-width: 1000px) {
    .starts-with {
        display: none;
    }
    form {
        max-width: 60%;
    }
    .top-bar {
        padding-top: 10px;
        margin-top: -20px;
    }
}

@media screen and (max-width: 700px) {
    .logo > h1 {
        font-size: 1.5rem;
    }
    
}
