.palette {
    height: 200px;
    width: 800px;
    display: flex;
    margin: 40px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: none;
}

.palette > div {
    flex: 1;
}

.palette > div:first-of-type {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 20px;
}

.palette > div:last-of-type {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 5px;
}
